.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 10%;
    box-shadow: 0 1px 3px -2px black;
}

.navLogo{
display: flex;
align-items: center;
gap: 10px;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.navMenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cneter;
    gap: 3px;
    cursor: pointer;
}

.navMenu hr{
    border: none;
    width: 80%;
    height: 4px;
    border-radius: 10px;
    background: #ff4141;
    transition: 0.5s;
}

.navLoginCart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.navLoginCart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    counter-reset: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.navLoginCart button:active{
    background: #f3f3f3;
}

.navCartCount{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: #fff;
}

.navLink{
    text-decoration: none;
}